{% extends 'base.html.twig' %}

{% block title %}Group{% endblock %}

{% block body %}
    {% if group.img != null %}
        <img src="{{ asset('uploads/img/'~ group.img) }}" alt="аватарка" width="100%">
    {% else %}
        <img src="{{ asset('1.jpg') }}" alt="аватарка" height="200px" width="250px">
    {% endif %}
    <h1 class="text-center">{{ group.name }}</h1>
    <h5 class="text-center">{{ group.description }}</h5>

{% endblock %}
