{% extends 'base.html.twig' %}

{% block title %}Group{% endblock %}

{% block body %}

    <a href="{{ path('group_edit', {'slug': group.slug}) }}">edit</a>

    {{ include('group/_delete_form.html.twig') }}
{% endblock %}
