<form method="post" action="{{ path('post_like', {'id': post.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('post_like' ~ post.id) }}">
    <input type="submit" value="&#10084;">
</form>
